.general{
  background-image: url(./images/home-banner.png); 
  background-size: cover;
  /* width: 700px; */
  height: 450px;
}
.head{
  color: rgba(255, 0, 0, 0.637);
}
.mainText{
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.active{
  margin-left: 700px;
}
.navbar{
  background-color: rgba(255, 0, 0, 0.637);
}
.navbar-brand{
  margin-left: 50px;
}
.link-object{
  margin-left: 70px;
}
.service-div{
  width: 250px;
  margin: auto;
  /* background-color: gr; */
  height: 200px;
}
#service1{
  background-image: url(./images/recipe.webp);
  background-size: contain;
}
.pricing-btn{
  background-color: rgba(255, 0, 0, 0.637) !important;
  margin-left: 180px;
}
.price{
  columns: rgba(255, 0, 0, 0.637) !important;
}
#pricing-btn1{
  margin-top: 80px !important;
}
.submit-btn{
  background-color: rgba(255, 0, 0, 0.637) !important;
}
#dashboard-flex-div1{
  width: 200px;
  background-color: rgba(255, 0, 0, 0.637);
  height: auto;
}
#settings-Link{
  margin-top: 239px;
}
.display-div{
  width: 550px;
}
